certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
cycler==0.10.0
idna==2.6
matplotlib==2.1.1
nested-dict==1.61
numpy==1.14.0
opencv-python==3.4.0.12
Pillow==9.0.1
protobuf==3.5.1
psutil==5.4.3
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
tensorboardX==1.0
torch==0.3.0b0+591e73e
torchfile==0.1.0
torchnet==0.0.1
torchvision==0.2.0
tornado==4.5.3
tqdm==4.19.5
urllib3==1.22
visdom==0.1.7
wincertstore==0.2
